/ {
    behaviors {
        JP_AT: jp_at {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp AT>;  // USではShift+2で"@", JISではShift+2で"@"
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
